
.DS_Store
*.idx
*.exe
*.o
ftp/debug/moc_mainwindow.cpp
ftp/.qtc_clangd/compile_commands.json
ftp/debug/moc_logindialog.cpp
ftp/debug/moc_predefs.h
ftp/debug/qrc_Icon.cpp
ftp/ftp.pro.user.c82afa3
ftp/ftp.pro.user
ftp/release/moc_logindialog.cpp
ftp/release/moc_mainwindow.cpp
ftp/release/moc_predefs.h
ftp/release/qrc_Icon.cpp
ftp/ui_logindialog.h
ftp/ui_mainwindow.h
ftp/libssll/libssl.dll
ftp/libssll/libcrypto.dll
ftp/libssll/libcrypto.a
ftp/libssll/libssl.a
ftp/debug/libssl/libssl.dll
ftp/debug/libssl/libssl.a
ftp/debug/libssl/libcrypto.dll
ftp/debug/libssl/libcrypto.a
ftp/debug/moc_sshtest.cpp
*.stash
ftp/debug/新建文件夹/libssl.dll.a
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/debug/moc_predefs.h
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/Makefile
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/Makefile.Debug
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/Makefile.Release
build-mps-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/ui_mainwindow.h
ftp/debug/libcrypto-1_1-x64.dll
ftp/debug/libssl-1_1-x64.dll
ftp/release/新建文件夹/libssl.dll.a
ftp/release/新建文件夹/libssl.a
ftp/release/新建文件夹/libssl-3-x64.dll
ftp/release/新建文件夹/libssl-1_1-x64.dll
ftp/release/新建文件夹/libcrypto.dll.a
ftp/release/新建文件夹/libcrypto.a
ftp/release/新建文件夹/libcrypto-3-x64.dll
ftp/release/新建文件夹/libcrypto-1_1-x64.dll
ftp/release/libssl-1_1-x64.dll
ftp/release/libcrypto-1_1-x64.dll
ftp/debug/新建文件夹/libssl.a
ftp/debug/新建文件夹/libssl-1_1-x64.dll
ftp/debug/新建文件夹/libcrypto.dll.a
ftp/debug/新建文件夹/libcrypto.a
ftp/debug/新建文件夹/libcrypto-1_1-x64.dll
