
.DS_Store
*.idx
*.exe
*.o
ftp/debug/moc_mainwindow.cpp
ftp/.qtc_clangd/compile_commands.json
ftp/debug/moc_logindialog.cpp
ftp/debug/moc_predefs.h
ftp/debug/qrc_Icon.cpp
ftp/ftp.pro.user.c82afa3
ftp/ftp.pro.user
ftp/release/moc_logindialog.cpp
ftp/release/moc_mainwindow.cpp
ftp/release/moc_predefs.h
ftp/release/qrc_Icon.cpp
ftp/ui_logindialog.h
ftp/ui_mainwindow.h
ftp/libssll/libssl.dll
ftp/libssll/libcrypto.dll
ftp/libssll/libcrypto.a
ftp/libssll/libssl.a
ftp/debug/libssl/libssl.dll
ftp/debug/libssl/libssl.a
ftp/debug/libssl/libcrypto.dll
ftp/debug/libssl/libcrypto.a
ftp/debug/moc_sshtest.cpp
*.stash
ftp/debug/新建文件夹/libssl.dll.a
